
body {
	background-color: #eee;
	color: #222;
}

.mdl-layout-title {
	background-color: rgb(205, 220, 57);
	color: #fff;
	padding: 1em;
}

h4 {
	border-bottom: solid 2px #eee;
	margin-bottom: 3%;
	padding: 0.5em;
}

#lightSimContainer {
	width: 100%;
	height: 75%;
}

canvas:hover {
	cursor: move;
}

.container {
	width: 90%;
}

td {
	color: #222;
	padding: 10px 2px;
	text-align: center;
}

i {
	background-color: rgba(0,0);
	color: #fff;
}

.mdl-slider.is-upgraded {
	background: rgb(205, 220, 57);
	color: rgb(205, 220, 57);
}

td i:hover {
	cursor:pointer;
}

.controls-wrapper {
	width: 100%;
}

.mdl-switch.is-checked .mdl-switch__track {
 background: rgba(205, 220, 57, 0.5);
}

.mdl-switch.is-checked .mdl-switch__thumb{
	background-color: rgb(205, 220, 57);
}

.mdl-switch {
	margin-bottom: 1em;
}

#lightSlider{
	width:300px;
}
