
h4 {
	border-bottom: solid 2px #eee;
	margin-bottom: 3%;
	padding: 0.5em;
}

#lightSimContainer {
	width: 100%;
	height: 75%;
}

canvas:hover {
	cursor: move;
}

.container {
	width: 90%;
}

td {
	text-align: center;
}

td:hover {
	cursor:pointer;
	color:#33C3F0;
}

.button-primary, .inactive {
	background-color: #fff;
	color: #222;
}

.controls-wrapper {
	width: 100%;
}